# ======================
# NODE (global)
# ======================
node_modules/
npm-debug.log

# ======================
# ENV
# ======================
.env

# ======================
# DOCKER
# ======================
postgres_data/

# ======================
# BACKEND
# ======================
backend/node_modules/

# ======================
# FRONTEND (Angular)
# ======================
frontend
frontend/library-frontend
.tsbuildinfo
frontend/library-frontend/node_modules/
frontend/library-frontend/dist/
frontend/library-frontend/.angular/
frontend/library-frontend/.cache/
frontend/library-frontend/tmp/
frontend/library-frontend/out-tsc/

# angular build misc
frontend/library-frontend/.vite/
frontend/library-frontend/.eslintcache
frontend/library-frontend/.tsbuildinfo