version: '3.8'

services:
  postgres:
    image: postgres:16
    container_name: fullstack_postgres
    environment:
      POSTGRES_USER: myfull
      POSTGRES_PASSWORD: mypassword
      POSTGRES_DB: myfullstack
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  pgadmin:
    image: dpage/pgadmin4
    container_name: pgadmin
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@admin.com
      PGADMIN_DEFAULT_PASSWORD: admin
    ports:
      - "5050:80"

volumes:
  postgres_data: